<h1>Edit Article</h1>
<%= link_to 'home', root_path %>
<%# form %>
<%# render _form.html.erb in views/articles, and article is prop @article %>
<%= render "form", article: @article %> <%# rails will know to render form in this articles folder %>
